<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
          "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yans.onegame.dao.mapper.CardMapper">
    <select id="getOne" resultType="cn.yans.onegame.entity.BaseCard">
        select *
        from
            (select *
             from
                 (SELECT *
                  FROM ys_cardpool_attack
                  WHERE probability >= 50
                  UNION all
                  SELECT *
                  FROM ys_cardpool_restore
                  WHERE probability >= 50
                  order by rand()
                  limit 1) ar) art
    </select>
</mapper>